# by dropping na instead of taking mean  accuracy increaased

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.line.linear_model import LinearRegression

In [39]:
startups=pd.read_csv('50_Startups.csv')

In [40]:
startups

      RDSpend  Administration  MarketingSpend       State     Profit
0   165349.20       136897.80       471784.10    New York  192261.83
1   162597.70       151377.59       443898.53  California  191792.06
2   153441.51       101145.55       407934.54     Florida  191050.39
3   144372.41       118671.85       383199.62    New York  182901.99
4   142107.34        91391.77       366168.42     Florida  166187.94
5   131876.90        99814.71       362861.36    New York  156991.12
6   134615.46       147198.87       127716.82  California  156122.51
7   130298.13       145530.06       323876.68     Florida  155752.60
8   120542.52       148718.95       311613.29    New York  152211.77
9   123334.88       108679.17       304981.62  California  149759.96
10  101913.08       110594.11       229160.95     Florida  146121.95
11  100671.96        91790.61       249744.55  California  144259.40
12   93863.75       127320.38       249839.44     Florida  141585.52
13   91992.39       135495.07       252664.93  California  134307.35
14  119943.24       156547.42       256512.92     Florida  132602.65
15  114523.61       122616.84       261776.23    New York  129917.04
16   78013.11       121597.55       264346.06  California  126992.93
17   94657.16       145077.58       282574.31    New York  125370.37
18   91749.16       114175.79       294919.57     Florida  124266.90
19   86419.70       153514.11             NaN    New York  122776.86
20   76253.86       113867.30       298664.47  California  118474.03
21   78389.47       153773.43       299737.29    New York  111313.02
22   73994.56       122782.75       303319.26     Florida  110352.25
23   67532.53       105751.03       304768.73     Florida  108733.99
24   77044.01        99281.34       140574.81    New York  108552.04
25   64664.71       139553.16       137962.62  California  107404.34
26   75328.87       144135.98       134050.07     Florida  105733.54
27   72107.60       127864.55       353183.81    New York  105008.31
28   66051.52       182645.56       118148.20     Florida  103282.38
29   65605.48       153032.06       107138.38    New York  101004.64
30   61994.48       115641.28        91131.24     Florida   99937.59
31   61136.38       152701.92        88218.23    New York   97483.56
32   63408.86       129219.61        46085.25  California   97427.84
33   55493.95       103057.49       214634.81     Florida   96778.92
34   46426.07       157693.92       210797.67  California   96712.80
35   46014.02        85047.44       205517.64    New York   96479.51
36   28663.76       127056.21       201126.82     Florida   90708.19
37   44069.95        51283.14       197029.42  California   89949.14
38   20229.59        65947.93       185265.10    New York   81229.06
39   38558.51        82982.09       174999.30  California   81005.76
40   28754.33       118546.05       172795.67  California   78239.91
41   27892.92        84710.77       164470.71     Florida   77798.83
42   23640.93        96189.63       148001.11  California   71498.49
43   15505.73       127382.30        35534.17    New York   69758.98
44   22177.74       154806.14        28334.72  California   65200.33
45    1000.23       124153.04         1903.93    New York   64926.08
46    1315.46       115816.21       297114.46     Florida   49490.75
47        NaN       135426.92             NaN  California   42559.73
48     542.05        51743.15             NaN    New York   35673.41
49        NaN       116983.80        45173.06  California   14681.40

In [41]:
startups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RDSpend         48 non-null     float64
 1   Administration  50 non-null     float64
 2   MarketingSpend  47 non-null     float64
 3   State           50 non-null     object
 4   Profit          50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.8+ KB

# Exploring the data

In [42]:
startups.corr()

                 RDSpend  Administration  MarketingSpend    Profit
RDSpend         1.000000        0.269749        0.708253  0.977401
Administration  0.269749        1.000000       -0.076943  0.200717
MarketingSpend  0.708253       -0.076943        1.000000  0.747434
Profit          0.977401        0.200717        0.747434  1.000000

In [43]:
startups.corr()[['Profit']]

                  Profit
RDSpend         0.977401
Administration  0.200717
MarketingSpend  0.747434
Profit          1.000000

In [44]:
startups.isna()

    RDSpend  Administration  MarketingSpend  State  Profit
0     False           False           False  False   False
1     False           False           False  False   False
2     False           False           False  False   False
3     False           False           False  False   False
4     False           False           False  False   False
5     False           False           False  False   False
6     False           False           False  False   False
7     False           False           False  False   False
8     False           False           False  False   False
9     False           False           False  False   False
10    False           False           False  False   False
11    False           False           False  False   False
12    False           False           False  False   False
13    False           False           False  False   False
14    False           False           False  False   False
15    False           False           False  False   False
16    False           False           False  False   False
17    False           False           False  False   False
18    False           False           False  False   False
19    False           False            True  False   False
20    False           False           False  False   False
21    False           False           False  False   False
22    False           False           False  False   False
23    False           False           False  False   False
24    False           False           False  False   False
25    False           False           False  False   False
26    False           False           False  False   False
27    False           False           False  False   False
28    False           False           False  False   False
29    False           False           False  False   False
30    False           False           False  False   False
31    False           False           False  False   False
32    False           False           False  False   False
33    False           False           False  False   False
34    False           False           False  False   False
35    False           False           False  False   False
36    False           False           False  False   False
37    False           False           False  False   False
38    False           False           False  False   False
39    False           False           False  False   False
40    False           False           False  False   False
41    False           False           False  False   False
42    False           False           False  False   False
43    False           False           False  False   False
44    False           False           False  False   False
45    False           False           False  False   False
46    False           False           False  False   False
47     True           False            True  False   False
48    False           False            True  False   False
49     True           False           False  False   False

In [45]:
startups.isna().sum()

RDSpend           2
Administration    0
MarketingSpend    3
State             0
Profit            0
dtype: int64

In [46]:
startups.dropna(inplace=True)
# make permenant changes where na there and fill it with mean

In [47]:
# Dealing with ordinary cell

# split data into x anad y 
## (x is holds independent column and y dependent col)

In [48]:
x=startups.iloc[:,:-1].values
# all column excluding last(profit ) because this is dependent we make making model for profit
x.shape

(46, 4)

In [49]:
y=startups.iloc[:,-1].values
# profit column
y.shape

(46,)

# steps to make Model

In [50]:
# step 1: corelation between dependent variable and independent variable
# step 2: scactter plot to check linearity (check ML_linear regression file)
# step 3: check fro ordinal and nominal data
# step 3.a: label encoding
# step 3.b: one hot encoding
# step4: split data and traingin and testing (if total 50 rows are there 40 to train the model 10 for testing)
# step 5: Fit the model
# step6: validate the model

# To make a model we use training data
# model.fit(x_train,y_tran)

# ones the model creating done
# predicted value must be based on test data
# y_pred=model.predict(x_test)
# then compare y_pred and Y-test
# the more high score more good our model is highes is 1
# can be calculated by r2_score(y_pred,y_test)

# Dealing with strings to to 
### notice states here we are encoing to number

In [51]:
from sklearn.preprocessing import LabelEncoder

In [52]:
x

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida'],
       [131876.9, 99814.71, 362861.36, 'New York'],
       [134615.46, 147198.87, 127716.82, 'California'],
       [130298.13, 145530.06, 323876.68, 'Florida'],
       [120542.52, 148718.95, 311613.29, 'New York'],
       [123334.88, 108679.17, 304981.62, 'California'],
       [101913.08, 110594.11, 229160.95, 'Florida'],
       [100671.96, 91790.61, 249744.55, 'California'],
       [93863.75, 127320.38, 249839.44, 'Florida'],
       [91992.39, 135495.07, 252664.93, 'California'],
       [119943.24, 156547.42, 256512.92, 'Florida'],
       [114523.61, 122616.84, 261776.23, 'New York'],
       [78013.11, 121597.55, 264346.06, 'California'],
       [94657.16, 145077.58, 282574.31, 'New York'],
       [91749.16, 114175.79, 294919.57, 'Florida'],
       [76253.86, 113867.3, 298664.47, 'California'],
       [78389.47, 153773.43, 299737.29, 'New York'],
       [73994.56, 122782.75, 303319.26, 'Florida'],
       [67532.53, 105751.03, 304768.73, 'Florida'],
       [77044.01, 99281.34, 140574.81, 'New York'],
       [64664.71, 139553.16, 137962.62, 'California'],
       [75328.87, 144135.98, 134050.07, 'Florida'],
       [72107.6, 127864.55, 353183.81, 'New York'],
       [66051.52, 182645.56, 118148.2, 'Florida'],
       [65605.48, 153032.06, 107138.38, 'New York'],
       [61994.48, 115641.28, 91131.24, 'Florida'],
       [61136.38, 152701.92, 88218.23, 'New York'],
       [63408.86, 129219.61, 46085.25, 'California'],
       [55493.95, 103057.49, 214634.81, 'Florida'],
       [46426.07, 157693.92, 210797.67, 'California'],
       [46014.02, 85047.44, 205517.64, 'New York'],
       [28663.76, 127056.21, 201126.82, 'Florida'],
       [44069.95, 51283.14, 197029.42, 'California'],
       [20229.59, 65947.93, 185265.1, 'New York'],
       [38558.51, 82982.09, 174999.3, 'California'],
       [28754.33, 118546.05, 172795.67, 'California'],
       [27892.92, 84710.77, 164470.71, 'Florida'],
       [23640.93, 96189.63, 148001.11, 'California'],
       [15505.73, 127382.3, 35534.17, 'New York'],
       [22177.74, 154806.14, 28334.72, 'California'],
       [1000.23, 124153.04, 1903.93, 'New York'],
       [1315.46, 115816.21, 297114.46, 'Florida']], dtype=object)

In [53]:
lab_en=LabelEncoder()
x[:,3]=lab_en.fit_transform(x[:,3])  # here we are taking 3rd column to tranform string into number 
# fit takes state column check how many unique states ,
# transform assign each state to that number

In [54]:
x

array([[165349.2, 136897.8, 471784.1, 2],
       [162597.7, 151377.59, 443898.53, 0],
       [153441.51, 101145.55, 407934.54, 1],
       [144372.41, 118671.85, 383199.62, 2],
       [142107.34, 91391.77, 366168.42, 1],
       [131876.9, 99814.71, 362861.36, 2],
       [134615.46, 147198.87, 127716.82, 0],
       [130298.13, 145530.06, 323876.68, 1],
       [120542.52, 148718.95, 311613.29, 2],
       [123334.88, 108679.17, 304981.62, 0],
       [101913.08, 110594.11, 229160.95, 1],
       [100671.96, 91790.61, 249744.55, 0],
       [93863.75, 127320.38, 249839.44, 1],
       [91992.39, 135495.07, 252664.93, 0],
       [119943.24, 156547.42, 256512.92, 1],
       [114523.61, 122616.84, 261776.23, 2],
       [78013.11, 121597.55, 264346.06, 0],
       [94657.16, 145077.58, 282574.31, 2],
       [91749.16, 114175.79, 294919.57, 1],
       [76253.86, 113867.3, 298664.47, 0],
       [78389.47, 153773.43, 299737.29, 2],
       [73994.56, 122782.75, 303319.26, 1],
       [67532.53, 105751.03, 304768.73, 1],
       [77044.01, 99281.34, 140574.81, 2],
       [64664.71, 139553.16, 137962.62, 0],
       [75328.87, 144135.98, 134050.07, 1],
       [72107.6, 127864.55, 353183.81, 2],
       [66051.52, 182645.56, 118148.2, 1],
       [65605.48, 153032.06, 107138.38, 2],
       [61994.48, 115641.28, 91131.24, 1],
       [61136.38, 152701.92, 88218.23, 2],
       [63408.86, 129219.61, 46085.25, 0],
       [55493.95, 103057.49, 214634.81, 1],
       [46426.07, 157693.92, 210797.67, 0],
       [46014.02, 85047.44, 205517.64, 2],
       [28663.76, 127056.21, 201126.82, 1],
       [44069.95, 51283.14, 197029.42, 0],
       [20229.59, 65947.93, 185265.1, 2],
       [38558.51, 82982.09, 174999.3, 0],
       [28754.33, 118546.05, 172795.67, 0],
       [27892.92, 84710.77, 164470.71, 1],
       [23640.93, 96189.63, 148001.11, 0],
       [15505.73, 127382.3, 35534.17, 2],
       [22177.74, 154806.14, 28334.72, 0],
       [1000.23, 124153.04, 1903.93, 2],
       [1315.46, 115816.21, 297114.46, 1]], dtype=object)

In [55]:
# lab_en.inverse_tranform([2])

# HOt one encoder to  make it in binary 
### column wise wherewver states matches it become 1 all other are zeros in row

In [56]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [57]:
ct = ColumnTransformer(
        [('ohe', OneHotEncoder(categories='auto'),[3])],  #3 is column number where we want to apply state column has 3 index
        remainder = 'passthrough'
        )
# list of tuples
#    List of (name, transformer, column(s)) tuples specifying the
#    transformer objects to be applied to subsets of the data.

In [58]:
x=ct.fit_transform(x)
x

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42],
       [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36],
       [1.0, 0.0, 0.0, 134615.46, 147198.87, 127716.82],
       [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68],
       [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29],
       [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62],
       [0.0, 1.0, 0.0, 101913.08, 110594.11, 229160.95],
       [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55],
       [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44],
       [1.0, 0.0, 0.0, 91992.39, 135495.07, 252664.93],
       [0.0, 1.0, 0.0, 119943.24, 156547.42, 256512.92],
       [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23],
       [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06],
       [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31],
       [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57],
       [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47],
       [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29],
       [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26],
       [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73],
       [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81],
       [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62],
       [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07],
       [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81],
       [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2],
       [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38],
       [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24],
       [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23],
       [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25],
       [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81],
       [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67],
       [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64],
       [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82],
       [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42],
       [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1],
       [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3],
       [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67],
       [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71],
       [1.0, 0.0, 0.0, 23640.93, 96189.63, 148001.11],
       [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17],
       [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72],
       [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93],
       [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46]], dtype=object)

In [59]:
# profit=b1*col1 + b2*col2+ b3*col3 + b4*RDExp +b5*Admin +b6*MarketExp

# where b1,b2...b6 are regression coefficient

# split the data into traingin and testing

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train,x_test,y_train,y_test=train_test_split(x,
                                               y ,
                                               test_size= 0.2, 
                                               random_state=0 )

# test_size is testing size we are giving 0.2 means 20% data for testing
# random state is a seed value
# you can give any seed value
# to replicate the result , use same seed value
# by changing the random state to 100 accuracy may increaase or decrese depending on the data the choose

# we cannot change the random state value and check accuracy it changes with the random data
## then we will go with K fold

In [62]:
# all rows containing na are dropped
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(36, 6) (10, 6) (36,) (10,)

In [63]:
from sklearn.linear_model import LinearRegression

In [66]:
model =LinearRegression()
model.fit(x_train,y_train)
print(model.coef_)
print(model.intercept_)

[ 6.95183354e+02 -5.25174719e+02 -1.70008635e+02  7.66181777e-01
 -3.70426428e-02  2.14831681e-02]
57009.6607804677

In [67]:
model =LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [68]:
y_pred=model.predict(x_test)
y_pred

array([111740.7360831 , 110856.7801201 , 103738.3352662 , 169845.60534472,
       135394.83586926, 102490.97846327, 101657.65601481, 136803.00268904,
       117643.36790065,  99796.45318856])

# to calculate accuracy  we use r2 scores

In [69]:
from sklearn.metrics import r2_score

In [70]:
y_test

array([105733.54, 108733.99, 101004.64, 166187.94, 146121.95,  97427.84,
        99937.59, 144259.4 , 111313.02,  96778.92])

In [71]:
r2_score(y_test,y_pred)
# truth value 1st, predicted value 2nd
# 94 % accuracy of the model

0.9443805044678256